/* BEGIN COLORS */
body {
    color: lightsteelblue;
    background-color: #444;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, Baskerville, Arial, sans-serif;
}

.zone-box {

}

#zone-content {
    background-color: #222;
}

a {
    text-decoration: none;
    color: lightsteelblue;
}

a:active {
    color: steelblue;
}

.lastSelected {
    color: steelblue;
}

hr {
    color: lightsteelblue;
}
/* END COLORS */

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#zone-nav a {
    font-size: 1.2em;
    font-style: italic;  
}

#zone-nav img, .imgPlaceHolder {
    width: 32px;
    height: 32px;
}

.imgPlaceHolder {
  visibility: hidden;
}

p::first-letter {
    text-transform: capitalize;
    color: white;
}

/** SEARCH BEGIN **/
#zone-search input {
    width: 95%;
    height: 24px;
    border-radius: 12px;
    padding-left: 5px;
    background-color: lightsteelblue;
    border-color: steelblue;
}

#zone-search input:focus {
    background-color: white;
    outline: none;
}

/** SEARCH END **/

.zone-wrapper {
    display: grid;
    grid-gap: 0;
    grid-template-rows: 42px 42px 4fr auto 42px;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-template-areas: "search"
    "links"
    "content"
    "nav"
    "footer";
}

.zone-box {
    padding: 5px 10px;
    margin: 0;
    overflow: hidden;
    transition: 0.5s;
}

#zone-search {
    grid-area: search;
    /*border-bottom: 1px solid lightsteelblue;*/
    vertical-align: middle;
    text-align: center;
    line-height: 30px;
    font-size: 1.2em;
}

#zone-links {
    grid-area: links;
    vertical-align: middle;
    line-height: 30px;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 1.2em;
    white-space: nowrap;
}

#zone-links::-webkit-scrollbar {
    display: none;
}

#zone-nav {
    grid-area: nav;
    overflow: auto;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-left: 12px;
}

#zone-nav::-webkit-scrollbar {
    display: none;
}

#zone-content {
    grid-area: content;
    overflow: auto;
    overflow-y: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    min-height: 200px;
    box-shadow: inset 1px 1px 10px 1px rgba(182, 202, 242, 0.5);
}

#zone-content::-webkit-scrollbar {
    display: none;
}

#zone-footer {
    grid-area: footer;
    vertical-align: middle;
    line-height: 34px;
    background-color: steelblue;
    text-align: center;
    color: black;
    font-size: 0.9em;
    box-shadow: inset 30px 0px 60px 1px rgba(182, 202, 242, 0.5);
}

#topRight {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 12px;
    background-color: #444;
    font-style:normal;
    font-weight: bolder;
    font-family: monospace;
    font-size: 1.3em;
    vertical-align: middle;
    line-height: 30px;
}

@media (max-width: 459px) {

    #zone-search {
        text-align: left;
    }

    #zone-search input {
        width: 85%;
    }

    #zone-content {
        border-bottom: 1px solid lightsteelblue;
        border-top: 1px solid lightsteelblue;
    }
    .fullScreenContent {
        grid-template-rows: 42px 42px 4fr 0 0;
    }

    .fullScreenContent #zone-footer, .fullScreenContent #zone-nav {
        display: none;
    }
}

@media (min-width: 460px) {

    .zone-wrapper {
        grid-template-areas: "search links"
        "nav content"
        "footer content";
        grid-template-rows: 42px 1fr 42px;
        grid-template-columns: 1fr 2.5fr;
    }

    #zone-content {
        border-left: 1px solid lightsteelblue;
        border-top: 1px solid lightsteelblue;
        border-top-left-radius: 12px;
    }

    #zone-nav {
        border-bottom: 1px solid lightsteelblue;
    }

    .fullScreenContent {
        grid-template-areas: "search links"
        "content content"
        "footer nav";
        grid-template-rows: 42px auto 0;
    }

    .fullScreenContent #zone-footer, .fullScreenContent #zone-nav {
        display: none;
    }
}

@media (min-width: 1200px) {

    .zone-wrapper {
        grid-template-areas: "search links links"
        "nav content ."
        "footer content .";
        grid-template-rows: 42px 1fr 42px;
        grid-template-columns: 1fr 2.5fr 1fr;

    }

    #zone-content {
        border-left: 1px solid lightsteelblue;
        border-top: 1px solid lightsteelblue;
        border-top-left-radius: 12px;
        border-right: 1px solid lightsteelblue;
        border-top-right-radius: 12px;
    }

    #zone-nav {
        border-bottom: 1px solid lightsteelblue;
    }

    .fullScreenContent {
        grid-template-areas: "search links links"
        "content content content"
        "footer nav .";
        grid-template-rows: 42px auto 0;
    }

    .fullScreenContent #zone-footer, .fullScreenContent #zone-nav {
        display: none;
    }
}



/** CODE BLOCK BEGIN **/
pre {
    white-space: pre-wrap;
    font-family: monospace;
    background: black;
    border: 1px solid #a1b1c1;
    border-radius: 4px;
    padding: 5px;
}

code {
    white-space: pre-wrap;
}

pre > code {
}
/** CODE BLOCK END **/

.gitDate {
    font-size: 0.8em;
    color: steelblue;
    font-style: normal;
    vertical-align: text-bottom;
    text-align: right;
    float: right;
    font-family: monospace;
    padding-left: 4px;
}