.grid-body {
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    height: 500px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 40px 40px 40px 1fr 1fr 40px;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-template-areas: "search"
                         "links"
                         "header"
                         "nav"
                         "content"
                         "footer";
}

.grid-box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    font-size: 110%;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

#grid-search {
    grid-area: search;
}

#grid-links {
    grid-area: links;
}

#grid-header {
    grid-area: header;
}

#grid-nav {
    grid-area: nav;
}

#grid-content {
    grid-area: content;
}

#grid-footer {
    grid-area: footer;
}

@media (min-width: 500px) {

    .grid-wrapper {
        grid-template-areas: "search links"
                             "header header"
                             "nav content"
                             "footer content";
        grid-template-rows: 40px 40px 1fr 40px;
        grid-template-columns: 120px 1fr;
    }
}

@media (min-width: 1000px) {

    .grid-wrapper {
        grid-template-areas: "search links links"
                             "header header header"
                             "nav content ."
                             "footer content .";
        grid-template-rows: 40px 40px 1fr 40px;
        grid-template-columns: 120px 2fr 1fr;

    }
}